h4 {
    color: red;
}

#Contact_me{
    color: blue;
    font-size: larger;
}

#Heading {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
}


#education{
    display: inline;
    text-align: center;
}

#projects {
    display: inline;
    text-align: center;
}

#experience {
    display: inline;
    text-align: center;
}


#Social_Media {
    display: inline-block;
    margin-right: 150px;
    text-align: center;
}

#Contact {
    display: inline-block;
    margin-right: 150px;
    text-align: center;
}

#Linktree {
    display: inline-block;
    margin-right: 150px;
    text-align: center;
}

#email {
    display: inline-block;
    margin-right: 150px;
    text-align: center;
}
